<div class="modal fade" id="editEventModal" tabindex="-1" role="dialog" aria-labelledby="editEventModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editEventModalLabel">Edit event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="form-group">
            <label for="name" class="mr-1">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Event name">
          </div>
          <div class="form-group">
            <label for="description" class="mr-1">Description</label>
            <input type="text" class="form-control" name="description" id="description" placeholder="Event description">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Update event</button>
      </div>
    </div>
  </div>
</div>