<div class="container-fluid">
  <h2>Charts</h2>
  <p class="lead">
    Simple yet flexible JavaScript charting for designers &amp; developers
  </p>
  <hr>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Doughnut charts</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3">
          <div class="doughnut-chart-wrapper">
            <div class="doughnut-chart-text">
              <div>
                <h3 class="text-danger">12%</h3>
                <small>TODAY</small>
              </div>
            </div>
            <canvas class="doughnut-chart" data-percent="12"></canvas>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="doughnut-chart-wrapper">
            <div class="doughnut-chart-text">
              <div>
                <h3 class="text-warning">49%</h3>
                <small>MONTH</small>
              </div>
            </div>
            <canvas class="doughnut-chart" data-percent="49"></canvas>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="doughnut-chart-wrapper">
            <div class="doughnut-chart-text">
              <div>
                <h3 class="text-success">4021</h3>
                <small>SALES</small>
              </div>
            </div>
            <canvas class="doughnut-chart" data-percent="65"></canvas>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="doughnut-chart-wrapper">
            <div class="doughnut-chart-text">
              <div>
                <h3 class="">89%</h3>
                <small>USERS</small>
              </div>
            </div>
            <canvas class="doughnut-chart" data-percent="89"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Line charts</h4>
    </div>
    <div class="card-body">
      <div style="height: 220px; width: 100%;">
        <canvas id="dashboard-chart"></canvas>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Bar chart</h4>
    </div>
    <div class="card-body">
      <div style="height: 200px; width: 100%;">
        <canvas id="members-chart"></canvas>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Radar chart</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <canvas id="radar-chart"></canvas>
        </div>
        <div class="col-lg-6">
          <canvas id="radar-chart2"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Mixed chart</h4>
    </div>
    <div class="card-body">
      <canvas id="mixed-chart"></canvas>
    </div>
  </div>
  <h4 class="page-section">
    Morris Charts
  </h4>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Line chart
      </h4>
    </div>
    <div class="card-body">
      <div id="morris-line-chart" style="height: 250px;"></div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Area chart
      </h4>
    </div>
    <div class="card-body">
      <div id="morris-area-chart" style="height: 250px;"></div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Bar chart
      </h4>
    </div>
    <div class="card-body">
      <div id="morris-bar-chart" style="height: 250px;"></div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Doughnut chart
      </h4>
    </div>
    <div class="card-body d-flex justify-content-between">
      <div id="morris-donut-chart" style="height: 250px;" class="w-50"></div>
      <div id="morris-donut-chart2" style="height: 250px;" class="w-50"></div>
    </div>
  </div>
</div>