<div class="container-fluid">
  <h2>Maps</h2>
  <p class="lead">
    Customize maps with your own content and imagery.
  </p>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">
            Base Maps
          </h4>
          <div>
            Basic default maps.
          </div>
        </div>
        <div id="map"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">
            Styled Maps
          </h4>
          <div>
            Custom styled maps with controls.
          </div>
        </div>
        <div id="style-selector-control" class="map-control">
          <select id="style-selector" class="selector-control">
            <option value="default">Default</option>
            <option value="silver">Silver</option>
            <option value="night">Night mode</option>
            <option value="retro" selected="selected">Retro</option>
            <option value="hiding">Hide features</option>
          </select>
        </div>
        <div id="styled-map"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">
            Satellite-map
          </h4>
          <div>
            View maps as seen from the satellites in orbit.
          </div>
        </div>
        <div id="satellite-map"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">
            Directions Map
          </h4>
          <div>
            Maps that show directions to specific places.
          </div>
        </div>
        <div id="directions-map"></div>
      </div>
    </div>
  </div>
</div>