<div class="container container--wide pt-3">
  <div class="mb-3">
    <h1 class="h2 mb-0"> <i class="material-icons">location_on</i> 174 Mulberry St, New York</h1>
    <ol class="breadcrumb p-0">
      <li>
        <a href="#">Dashboards</a>
      </li>
      <li>
        <a href="real-estate.html">Real Estate</a>
      </li>
      <li class="text-muted">
        Property
      </li>
    </ol>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Description</h4>
        </div>
        <div class="card-body">
          <p class="card-text">
            A cosy and private studio apartment, perfect for those who want to increase their productivity.
            Accomodation offers easy and fast acces to New York's railway systems (4 minutes) and to the metro stations (10 minutes).
            Furthermore, there are supermarkets and pharmacies nearby.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Benefits</h4>
        </div>
        <div class="card-body">
          <ul class="pl-3 m-0">
            <li class="mb-2">
              <strong>Privacy</strong>
              - the apartment is located on the whole 1st floor of the building.
            </li>
            <li class="mb-2">
              <strong>Transport</strong>
              - easy and fast access to public transport facilities.
            </li>
            <li class="mb-2">
              <strong>Garden</strong>
              - private outdoor garden.
            </li>
            <li>
              <strong>Facilities</strong>
              - shopping facilities in the immediate area (supermarkets, pharmacies, etc.).
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Property Details</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled m-0">
            <li class="d-flex mb-1">
              <i class="material-icons align-middle mr-2 text-muted">location_on</i>
              <span>174 Mulberry St, New York</span>
            </li>
            <li class="d-flex mb-1">
              <i class="material-icons align-middle mr-2 text-muted">schedule</i>
              <span>added 1 day ago</span>
            </li>
            <li class="d-flex">
              <i class="material-icons align-middle mr-2 text-muted">home</i>
              <span>Stanley Residential</span>
            </li>
          </ul>
        </div>
        <div id="map"></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <button class="btn btn-success btn-block text-uppercase"><i class="material-icons align-middle mr-1">credit_card</i> Book &dollar;1,200</button>
        </div>
        <div class="card-body">
          <form>
            <div class="form-row mb-3">
              <div class="col">
                <label for="check_in" class="text-muted">Check In</label>
                <input type="text" name="check_in" id="check_in" class="datepicker-property form-control">
              </div>
              <div class="col">
                <label for="check_out" class="text-muted">Check Out</label>
                <input type="text" name="check_out" id="check_out" class="datepicker-property form-control">
              </div>
            </div>
            <div class="mb-3">
              <div class="d-flex align-items-center justify-content-between mb-1">
                <div>
                  <i class="material-icons md-18 align-middle mr-1 text-muted">home</i>
                  <span class="align-middle">Rooms</span>
                </div>
                <input type="number" class="input-sm form-control" value="1">
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <i class="material-icons md-18 align-middle mr-1 text-muted">people</i>
                  <span class="align-middle">Travelers</span>
                </div>
                <input type="number" class="input-sm form-control" value="3">
              </div>
            </div>
            <button class="btn btn-primary btn-block">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>