<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-general-tab" data-toggle="pill" href="#v-pills-general" role="tab" aria-controls="v-pills-general" aria-selected="true">General</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="card">
        <div class="card-body">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-general" role="tabpanel" aria-labelledby="v-pills-general-tab">
              <h4 class="mb-0">What is Hero Admin?</h4>
              <hr>
              <p>
                Hero PRO is a premium admin template designed built on top of the latest Bootstrap 4. This premium Admin is  coded by the Frontted UI Experts containing multiple dashboards, fully responsive having tons of ui elements suits all front & backend applications.
              </p>
              <p>
                This Bootstrap 4 Admin Dashboard can be used for any SASS projects such as School/Universities, Shop/Retail, Financial/Reporting, Social Media, Projects or Ticketing System.
              </p>
              <p>
                The design follows spacing and typography best practices and we also made our source code super clean/indented and easy to understand.

                All images & assets from the preview are included with the package.

                Left-to-Right (dir="ltr") and Right-to-Left (dir="rtl") versions are available with just a simple 3 word "dir" switch.
              </p>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
              <h4 class="mb-0">Lorem ipsum dolor sit amet</h4>
              <hr>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt beatae quibusdam commodi quia deleniti modi, autem dicta maiores inventore, voluptatem rem. Dolorum amet architecto aliquam recusandae eaque, dicta aut velit!
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt beatae quibusdam commodi quia deleniti modi, autem dicta maiores inventore, voluptatem rem. Dolorum amet architecto aliquam recusandae eaque, dicta aut velit!
              </p>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
              <h4 class="mb-0">Lorem ipsum</h4>
              <hr>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore expedita cupiditate beatae officiis sint vel vitae laborum harum sunt quos distinctio, ullam repellat veritatis, odit facere fugit aut accusamus nam.
              </p>
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
              <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
              <hr>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque sunt autem soluta, illum tenetur explicabo commodi. Eveniet vitae earum cumque, sequi neque vero nam, atque debitis ad quis quisquam placeat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, facere iste blanditiis ducimus. Obcaecati, quo vel, ipsa facilis adipisci sapiente asperiores culpa blanditiis repudiandae aliquam nihil ipsum aperiam, et. Beatae?
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque sunt autem soluta, illum tenetur explicabo commodi. Eveniet vitae earum cumque, sequi neque vero nam, atque debitis ad quis quisquam placeat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta, a doloremque debitis sunt iusto obcaecati, nemo veniam at dolores enim temporibus explicabo tempora velit! Quia magni libero quam quasi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi doloremque aliquam repellat totam adipisci ab facilis enim aliquid, assumenda debitis est tempore, fugit sed error architecto quos nobis distinctio consequuntur!
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque sunt autem soluta, illum tenetur explicabo commodi. Eveniet vitae earum cumque, sequi neque vero nam, atque debitis ad quis quisquam placeat.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque sunt autem soluta, illum tenetur explicabo commodi. Eveniet vitae earum cumque, sequi neque vero nam, atque debitis ad quis quisquam placeat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat perspiciatis blanditiis pariatur cum tempore sunt saepe reiciendis aliquam omnis recusandae temporibus quas quos quo id magnam eos maiores, quasi tenetur.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>