<div class="container-fluid">
  <h2>Select Menu</h2>
  <p class="lead">
    Replace the browser default select menu's with our fancy custom selects.
  </p>
  <hr>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Custom select menu</h4>
    </div>
    <div class="card-body">
      <select class="custom-select">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">File browser</h4>
    </div>
    <div class="card-body">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile" required>
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
    </div>
  </div>
  <h4 class="page-section">Select2 Menu</h4>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Custom Select2 menu
      </h4>
    </div>
    <div class="card-body">
      <select class="select-2">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Multiple tag-like select menu
      </h4>
    </div>
    <div class="card-body">
      <select class="form-control select-2" name="options[]" multiple="multiple">
        <option selected="selected" value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="4">Four</option>
        <option value="5">Five</option>
        <option value="6">Six</option>
        <option value="7">Seven</option>
      </select>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Disabled menu</h4>
    </div>
    <div class="card-body">
      <select class="form-control select-2" name="options[]" multiple="multiple" disabled>
        <option selected="selected" value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="4">Four</option>
        <option value="5">Five</option>
        <option value="6">Six</option>
        <option value="7">Seven</option>
      </select>
    </div>
    <div class="card-body">
      <select class="select-2" disabled>
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Disabled options</h4>
    </div>
    <div class="card-body">
      <select class="form-control select-2" name="options[]" multiple="multiple">
        <option selected="selected" value="1">One</option>
        <option value="2">Two</option>
        <option value="3" disabled>Three (disabled)</option>
        <option value="4" disabled>Four (disabled)</option>
        <option value="5">Five</option>
        <option value="6">Six</option>
        <option value="7">Seven</option>
      </select>
    </div>
    <div class="card-body">
      <select class="select-2">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2" disabled>Two (disabled)</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Labels</h4>
    </div>
    <div class="card-body">
      <label>Select options from this menu</label>
      <select class="form-control select-2" name="options[]" multiple="multiple">
        <option selected="selected" value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="4">Four</option>
        <option value="5">Five</option>
        <option value="6">Six</option>
        <option value="7">Seven</option>
      </select>
    </div>
    <div class="card-body">
      <label>Select some other options from this menu</label>
      <select class="form-control select-2" name="options[]" multiple="multiple">
        <option selected="selected" value="1">One</option>
        <option selected="selected" value="2">Two</option>
        <option selected="selected" value="3">Three</option>
        <option value="4">Four</option>
        <option value="5">Five</option>
        <option value="6">Six</option>
        <option value="7">Seven</option>
      </select>
    </div>
  </div>
</div>