<div class="container-fluid">
  <h2>Switches and Toggles</h2>
  <p class="lead">
    Turn checkboxes and radio buttons into toggle switches
  </p>
  <hr>
  <h4 class="page-section">Bootstrap Switches</h4>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Default
      </h4>
    </div>
    <div class="card-body">
      <input type="checkbox" name="bootstrap-switch" checked>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Inverse
      </h4>
    </div>
    <div class="card-body">
      <input type="checkbox" name="bootstrap-switch" data-inverse="true" checked>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Indeterminate
      </h4>
    </div>
    <div class="card-body">
      <input type="checkbox" name="bootstrap-switch" data-indeterminate="true" checked>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Disabled
      </h4>
    </div>
    <div class="card-body">
      <input type="checkbox" name="bootstrap-switch" disabled checked="">
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Readonly
      </h4>
    </div>
    <div class="card-body">
      <input type="checkbox" name="bootstrap-switch" checked>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        On Color
      </h4>
    </div>
    <div class="card-body">
      <input type="checkbox" name="bootstrap-switch" checked data-on-color="primary">
      <input type="checkbox" name="bootstrap-switch" checked data-on-color="info">
      <input type="checkbox" name="bootstrap-switch" checked data-on-color="success">
      <input type="checkbox" name="bootstrap-switch" checked data-on-color="warning">
      <input type="checkbox" name="bootstrap-switch" checked data-on-color="danger">
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Off Color
      </h4>
    </div>
    <div class="card-body">
      <input type="checkbox" name="bootstrap-switch" data-off-color="primary">
      <input type="checkbox" name="bootstrap-switch" data-off-color="info">
      <input type="checkbox" name="bootstrap-switch" data-off-color="success">
      <input type="checkbox" name="bootstrap-switch" data-off-color="warning">
      <input type="checkbox" name="bootstrap-switch" data-off-color="danger">
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        On Text
      </h4>
    </div>
    <div class="card-body">
      <input type="checkbox" name="bootstrap-switch" checked data-on-text="Yes">
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Off Text
      </h4>
    </div>
    <div class="card-body">
      <input type="checkbox" name="bootstrap-switch" data-off-text="No">
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Label Width
      </h4>
    </div>
    <div class="card-body">
      <input type="checkbox" name="bootstrap-switch" checked data-label-width="120">
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Handle Width
      </h4>
    </div>
    <div class="card-body">
      <input type="checkbox" name="bootstrap-switch" checked data-handle-width="120">
    </div>
  </div>
  <h4 class="page-section">Material Switches</h4>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Default</h4>
    </div>
    <div class="card-body">
      <div class="mdc-switch">
        <input type="checkbox" id="basic-switch--dark" class="mdc-switch__native-control">
        <div class="mdc-switch__background">
          <div class="mdc-switch__knob"></div>
        </div>
        <label for="basic-switch--dark" class="mdc-switch-label">off/on</label>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Disabled</h4>
    </div>
    <div class="card-body">
      <div class="mdc-switch">
        <input type="checkbox" id="basic-switch--disabled" class="mdc-switch__native-control" disabled>
        <div class="mdc-switch__background">
          <div class="mdc-switch__knob"></div>
        </div>
        <label for="basic-switch--disabled" class="mdc-switch-label">off/on</label>
      </div>
    </div>
  </div>
</div>