.datepicker-retail {
  text-align: center;
}

.input-sm {
  text-align: center;
  width: 55px;
}

.input-group-prepend.prev-date {
  cursor: pointer;
}

.input-group-append.next-date {
  cursor: pointer;
}