---
title: Hero
slug: ui-drag-drop
category: ui
navbarClass: 'navbar-dark bg-primary'
pageTitle: 'UI Drag & Drop'
---
{% extends "./layouts/rtl-default.html" %}

{% block head %}
  <link type="text/css" href="assets/css/vendor-dragula.css" rel="stylesheet">
  <link type="text/css" href="assets/css/vendor-dragula.rtl.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="assets/vendor/dragula.min.js"></script>

<script>

  // Default
  dragula([document.getElementById('left'), document.getElementById('right')]);

  // Highlight
  dragula([document.getElementById('left-highlight'), document.getElementById('right-highlight')])
  .on('drag', function (el) {
    el.className = el.className.replace('ex-moved', '');
  }).on('drop', function (el) {
    el.className += ' ex-moved';
  }).on('over', function (el, container) {
    container.className += ' ex-over';
  }).on('out', function (el, container) {
    container.className = container.className.replace('ex-over', '');
  });

  // Remove Spill
  dragula([document.getElementById('left-spill'), document.getElementById('right-spill')], {
    removeOnSpill: true
  });

  // Revert Spill
  dragula([document.getElementById('left-revert'), document.getElementById('right-revert')], {
    revertOnSpill: true
  });

  // Sort only
  dragula([document.getElementById('left-sort')]);
  dragula([document.getElementById('right-sort')]);
</script>
{% endblock %}