---
title: Hero
slug: validation
category: forms
navbarClass: 'navbar-dark bg-primary'
pageTitle: 'Validation'
---
{% extends "./layouts/default.html" %}

{% block scripts %}
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  "use strict";
  window.addEventListener("load", function() {
    var form = document.getElementById("needs-validation");
    form.addEventListener("submit", function(event) {
      if (form.checkValidity() == false) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add("was-validated");
    }, false);
  }, false);
}());
</script>
{% endblock %}
